._2YTg3hVVde1EN1A4QVkvAE {
  display: none !important;
}

._3qDWQGB0rtwM3qpXTb11Q-._1oYt_BfxCHnA-_6sfUHiNn.Focusable {
  display: none !important;
  pointer-events: none !important;
  user-select: none !important;
}
