._2YTg3hVVde1EN1A4QVkvAE {
  display: var(--HIDE-INFO-BLOCK, initial) !important;
}

._3qDWQGB0rtwM3qpXTb11Q-._1oYt_BfxCHnA-_6sfUHiNn.Focusable {
  display: var(--HIDE-BUTTON, initial) !important;
  pointer-events: var(--HIDE-BUTTON-POINTER, auto) !important;
  user-select: var(--HIDE-BUTTON-SELECT, auto) !important;
}
